node_modules
.next
.open-next
.vercel
.wrangler
dist
out
build
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.turbo
.pnpm-store
.idea
.vscode
!.vscode/extensions.json
.cache
.parcel-cache
local.db
local.db-shm
local.db-wal
